@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: green;
    font-size: 40px;
    font-weight: 500;
}